.carousel-base {
  max-width: 80%;
  padding: 1rem 0rem;
}

.custom-carousel {
  max-height: 100%;
}


.custom-carousel .carousel-control-prev,
.custom-carousel .carousel-control-next {
  position: absolute;
  top: 35%; 
  z-index: 2; 
  transform: translateY(-50%);
}

.custom-carousel .carousel-control-prev {
  left: -20%; 
}

.custom-carousel .carousel-control-next {
  right: -20%; 
}

.custom-carousel .carousel-control-prev,
.custom-carousel .carousel-control-next {
  width: 10%;
  fill: #ffffff;
}

.custom-carousel img {
  border: 3px solid #826bc8;
  border-radius: 10px;
  object-fit: contain;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
 }

 .carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.carousel-item-container {
  position: relative;
  width: 100%; 
}

.custom-carousel .carousel-item {
  position: relative;
}

.custom-carousel .carousel-item {
  padding-bottom: 2rem; 
}

.map-name-caption {
  position: relative; 
  width: 100%;
  color: #fff; 
  padding: 20px;
  text-align: center; 
}