.visualizer-base {
  color: white;
  width: auto;
  padding: 0rem 1rem;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 12px 30px 0 rgba(0, 0, 0, 0.35);
  border-radius: 8px; 
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.visualizer-base:hover {
  background-color: #6a54ad; 
  transform: scale(1.03); 
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.45), 0 15px 35px 0 rgba(0, 0, 0, 0.4); 
  background: #18032a;
  box-shadow: inset 35px 35px 69px #0d0218,
              inset -35px -35px 69px #23043c;
}