.team-selector-container {
  --team-color: #ffffff;
}

.team-selector-col {
  --color-default: #333;
  --color-disabled: rgba(51, 51, 51, 0.5);
  --color-active: #666;
  --color-hover: #555;
    color: #f5f5dc;
    order: 1;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: linear-gradient(145deg, #130322, #160329);
    box-shadow:  10px 10px 20px #11021e,
                -10px -10px 20px #19042e;
    border-radius: 8px; 
    transition: transform 0.5s ease, box-shadow 0.5s ease;
    max-width: 300px;
}

.team-selector-col:hover {
  transform: scale(1.03); 
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.45), 0 15px 35px 0 rgba(0, 0, 0, 0.4); 
}

.listing {
  margin-bottom: 10px; 
  height: 2.75rem;
  background-color: var(--color-default);
  transition: background-color 0.3s ease; 
  color: #f5f5dc;
  display: flex;
  align-items: center;
  padding-left: 2rem;
  gap: 1rem;
}

.listing:first-child {
  margin-top: 10px; 
}

.listing.disabled {
  background-color: var(--color-disabled);
  pointer-events: none; 
  color: #bfbfac;
  opacity: 0.75; 
}

.listing.active, .listing:hover {
  background-color: var(--color-active);
  color: #f5f5dc;
  border: 1px solid var(--team-color);
}

.listing:not(.disabled):hover {
  background-color: var(--color-hover);
}


.logo-size {
  height: 90%; 
  width: auto; 
  max-width: 30%;
}

.player-display-col {
  order: 2;
  font-family: HitmarkerCondensed, HitmarkerText, monospace;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flip .team-selector-col {
  order: 2;
}
.flip .player-display-col {
  order: 1;
}

.player-card {
  height: 100%;
  text-transform: uppercase;
  color: var(--team-color);
  background: rgb(14, 12, 12); 
  border: 1px solid var(--team-color);
  transition: transform 0.1s ease;
  cursor: pointer;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  overflow: hidden;
  padding-bottom: 2rem;
}

.player-card:hover {
  transform: scale(1.03); 
}

.player-headshot {
  position: relative;
  width: 250px;
  height: 250px;
}

.card-img-top {
  position: relative;
  width: 90%;
  height: auto;
  z-index: 2; 
}

.background-logo {
  position: absolute;
  top: 25%;
  left: 50%;
  width: 90%;
  height: 90%;
  transform: translateY(-50%) translateX(-50%);
  z-index: 0; 
  opacity: 0.4;
}

.player-name {
  font-size: 32px;
  font-weight: 800;
}

.player-stats {
  color: white;
  font-size: 0.8rem;
  font-weight: 650;
  background: rgb(14, 12, 12); 
  transition: visibility 0s linear 0.3s, opacity 0.3s ease; 
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

