.custom-button {
  width: auto;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 1rem;
  margin-top: 2rem;
  background-color: #4B0082; 
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 12px 30px 0 rgba(0, 0, 0, 0.35);
  border-radius: 8px; 
  transition: transform 0.5s ease, box-shadow 0.5s ease;
  font-size: large;
  font-weight: 700;
}

.custom-button:hover {
  background-color: #4B0082; 
  transform: scale(1.03); 
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.45), 0 15px 35px 0 rgba(0, 0, 0, 0.4); 
}

.custom-button[disabled] {
  background-color: #4B0082; 
  color: #666;
  border: 1px solid #999;
  cursor: not-allowed;
}